{{ define "main" }}
  <script src="https://unpkg.com/echarts@6.0.0/dist/echarts.min.js"></script>
  <div id="trade-history-container">
    <div id="total-assets-chart"></div>
    <div id="hold-stocks-chart"></div>
    <div id="comment">
    </div>
  </div>
  <script>
    const color = {
      red: '#e74c3c',
      green: '#2ecc71',
      purple: '#b48ead',
    };
    const eleChartContaienr = document.querySelector('#trade-history-container');
    const eleTotalAssetsChart = document.querySelector('#total-assets-chart');
    const eleHoldStocksChart = document.querySelector('#hold-stocks-chart');
    const eleComment = document.querySelector('#comment');
    let { width, height } = eleChartContaienr.getBoundingClientRect();
    height = height / 2;
    
    const data = JSON.parse({{ site.Data.stock.trade_history | jsonify }});
    const totalAssetsChart = echarts.init(eleTotalAssetsChart, null, { width, height });
    const holdStocksChart = echarts.init(eleHoldStocksChart, null, { width, height });

    function makeTotalAssetsChart() {
      const totalAssetsChartOption = {
        title: {
          text: '资产走势',
          textStyle: {
            fontSize: 16,
          }
        },
        xAxis: {
          name: '日期',
          nameLocation: "center",
          type: 'category',
          data: data.map(item => item.date),
          axisLine: {
            onZero: false,
          },
          nameTextStyle: {
            fontWeight: "bold",
          }
        },
        yAxis: [
          {
            name: "总资产",
            nameLocation: "end",
            type: "value",
            min: 3 * 10**5,
            nameTextStyle: {
              fontWeight: "bold",
            },
            axisLine: {
              show: true,
            },
            splitLine: {
              show: false,
            }
          },
          {
            name: "涨跌幅",
            type: "value",
            nameLocation: "end",
            min: -10,
            max: 10,
            nameTextStyle: {
              fontWeight: "bold",
              align: "right",
            },
            axisLine: {
              show: true,
            },
          },
          {
            name: " / 仓位",
            nameLocation: "end",
            type: "value",
            min: -10,
            max: 10,
            nameTextStyle: {
              fontWeight: "bold",
              align: "left",
            },
            axisLine: { show: false },
            axisTick: { show: false },
            axisLabel: { show: false },
          },
        ],
        series: [
          {
            name: '总资产',
            data: data.map(item => item.total_assets),
            type: 'line',
            yAxisIndex: 0,
          },
          {
            name: '涨跌幅',
            data: data.map((item, index) => index > 0 ? Math.round((data[index].total_assets / data[index-1].total_assets - 1) * 10000, 2) / 100 : 0),
            type: 'bar',
            yAxisIndex: 1,
            itemStyle: {
              color: function(params) {
                return params.value >= 0 ? color.red : color.green;
              }
            }
          },
          {
            name: '仓位',
            data: data.map(item => (item.stocks.map(stock => stock.capital).reduce((a, b) => a + b, 0) / item.total_assets * 10).toFixed(2)),
            type: 'bar',
            yAxisIndex: 2,
            itemStyle: {
              color: color.purple,
            }
          },
        ],
        tooltip: {
          trigger: 'axis',
          alwaysShowContent: false,
        },
      };
      totalAssetsChart.setOption(totalAssetsChartOption);
    }

    function makeHoldStocksChart(dataIndex) {
      const stocks = data[dataIndex]?.stocks.filter(stock => stock.capital > 0);
      
      const holdStocksChartOption = {
        title: {
          text: `持仓分布（${data[dataIndex].date}）`,
          textStyle: {
            fontSize: 16,
          },
        },
        tooltip: {
          alwaysShowContent: false,
          formatter: function(params) {
            const stock = stocks.find(s => s.name === params.name);
            return `
              <div style="font-weight:bold">${params.name} (${stock.symbol})</div>
              <div>持仓金额: ${stock.capital.toFixed(0)}元</div>
              <div>持仓占比: ${(stock.capital / data[dataIndex].total_assets * 100).toFixed(2)}%</div>
              <div>收益: ${stock.profit.toFixed(2)}元 (${stock.profit_ratio.toFixed(2)}%)</div>
            `;
          }
        },
        series: [
          {
            name: '持仓分布',
            type: 'pie',
            radius: ['30%', '60%'],
            itemStyle: {
              borderRadius: 4,
              borderColor: '#fff',
              borderWidth: 1
            },
            label: {
              show: true,
              position: 'outer'
            },
            labelLine: {
              show: true,
            },
            data: stocks.map(stock => ({
              name: stock.name,
              value: stock.capital,
              itemStyle: {
                color: stock.profit <= 0 ? color.green : color.red,
              }
            }))
          }
        ]
      };
      holdStocksChart.setOption(holdStocksChartOption);
    }

    function updateComment(comment) {
      let html = '';
      for (let i=0; i<comment?.length; i++) {
        html += `
          <p>${comment[i]}</p>
        `;
      }
      eleComment.innerHTML = html;
    }

    makeTotalAssetsChart();
    makeHoldStocksChart(data.length-1);
    updateComment(data[data.length-1].comment);
    totalAssetsChart.on('mouseover', 'series', function(params) {
      makeHoldStocksChart(params.dataIndex);
      updateComment(data[params.dataIndex].comment);
    });
    window.addEventListener('resize', function() {
      totalAssetsChart.resize();
      holdStocksChart.resize();
    });
  </script>
{{ end }}